{
    "openapi": "3.0.0",
    "info": {
      "title": "Livesuite API",
      "version": "1.0.0",
      "description": "API for tracking Livesuite livestreams, analytics, and metrics",
      "contact": {
        "name": "API Support",
        "email": "support@livesuite.app"
      }
    },
    "servers": [
      {
        "url": "https://api.livesuite.app",
        "description": "Production server"
      }
    ],
    "components": {
      "securitySchemes": {
        "ApiKeyAuth": {
          "type": "apiKey",
          "in": "header",
          "name": "x-api-key",
          "description": "API key for authentication"
        }
      },
      "schemas": {
        "ErrorResponse": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean",
              "example": false
            },
            "error": {
              "type": "string"
            },
            "code": {
              "type": "integer"
            }
          }
        },
        "StreamerDetailed": {
          "type": "object",
          "properties": {
            "coinName": {
              "type": "string",
              "description": "Token coin name",
              "example": "ANON"
            },
            "coinSymbol": {
              "type": "string",
              "description": "Token coin symbol",
              "example": "ANON"
            },
            "creator": {
              "type": "string",
              "description": "Creator address",
              "example": "3v9Bv2rW1ewdzWWnk22Z2jdqqqeRDDa89Ga6WiB1f1yv"
            },
            "creatorAddress": {
              "type": "string",
              "description": "Creator address (same as creator)",
              "example": "3v9Bv2rW1ewdzWWnk22Z2jdqqqeRDDa89Ga6WiB1f1yv"
            },
            "currentViewers": {
              "type": "number",
              "description": "Current number of viewers",
              "example": 15
            },
            "description": {
              "type": "string",
              "description": "Token description",
              "example": "We all like to remain Anon."
            },
            "image_uri": {
              "type": "string",
              "description": "Image URI for the token",
              "example": "https://ipfs.io/ipfs/bafybeib7n5uoisjqgx7wzq6usxd2tkae6tika6ba6shjt6r4zccjz2zq4e"
            },
            "isCurrentlyLive": {
              "type": "boolean",
              "description": "Whether the streamer is currently live",
              "example": true
            },
            "mintId": {
              "type": "string",
              "description": "Token mint address",
              "example": "CNAL11p3N3eM4VYhrsV9wfKG2RBC5X83U2kJpypySyiU"
            },
            "symbol": {
              "type": "string",
              "description": "Token symbol",
              "example": "ANON"
            },
            "telegram": {
              "type": "string",
              "description": "Telegram link (can be empty)",
              "example": ""
            },
            "tokenDescription": {
              "type": "string",
              "description": "Token description",
              "example": "We all like to remain Anon."
            },
            "tokenImage": {
              "type": "string",
              "description": "Token image URL",
              "example": "https://ipfs.io/ipfs/bafybeib7n5uoisjqgx7wzq6usxd2tkae6tika6ba6shjt6r4zccjz2zq4e"
            },
            "tokenMarketCap": {
              "type": "object",
              "description": "Token market cap",
              "properties": {
                "quote": {
                  "type": "number",
                  "description": "Market cap in quote currency (SOL)",
                  "example": 27.958993476
                },
                "usd": {
                  "type": "number",
                  "description": "Market cap in USD",
                  "example": 4929.45013975356
                }
              }
            },
            "tokenPrice": {
              "type": "object",
              "description": "Token price",
              "properties": {
                "quote": {
                  "type": "number",
                  "description": "Price in quote currency (SOL)",
                  "example": 0
                },
                "usd": {
                  "type": "number",
                  "description": "Price in USD",
                  "example": 0
                }
              }
            },
            "tokenTelegram": {
              "type": "string",
              "description": "Token Telegram link (can be empty)",
              "example": ""
            },
            "tokenTwitter": {
              "type": "string",
              "description": "Token Twitter link (can be empty)",
              "example": ""
            },
            "tokenWebsite": {
              "type": "string",
              "description": "Token website link (can be empty)",
              "example": ""
            },
            "totalStreamingTime": {
              "type": "number",
              "description": "Total streaming time in seconds",
              "example": 0
            },
            "totalStreamingTimeFormatted": {
              "type": "string",
              "description": "Formatted total streaming time (e.g., 'LIVE', '0s')",
              "example": "LIVE"
            },
            "twitter": {
              "type": "string",
              "description": "Twitter link (can be empty)",
              "example": ""
            },
            "website": {
              "type": "string",
              "description": "Website link (can be empty)",
              "example": ""
            }
          }
        },
        "LivestreamSession": {
          "type": "object",
          "properties": {
            "sessionId": {
              "type": "number",
              "description": "Session ID",
              "example": 1467433
            },
            "startTime": {
              "type": "string",
              "format": "date-time",
              "description": "Session start time",
              "example": "2025-11-03T08:04:45Z"
            },
            "endTime": {
              "type": "string",
              "format": "date-time",
              "nullable": true,
              "description": "Session end time (null if still active)",
              "example": null
            },
            "isActive": {
              "type": "boolean",
              "description": "Whether the session is currently active",
              "example": true
            },
            "mode": {
              "type": "string",
              "description": "Session mode (interactive or view-only)",
              "example": "view-only"
            },
            "numParticipants": {
              "type": "number",
              "description": "Number of participants in the session",
              "example": 5
            },
            "thumbnail": {
              "type": "string",
              "description": "Thumbnail image URL",
              "example": "https://thumbnails.pump.fun/1467433/1762173930895.jpeg"
            },
            "totalSessionTime": {
              "type": "number",
              "description": "Total session time in seconds",
              "example": 16858.982034724
            },
            "totalSessionTimeFormatted": {
              "type": "string",
              "description": "Formatted session duration",
              "example": "4h 40m"
            }
          }
        },
        "PaginationMeta": {
          "type": "object",
          "properties": {
            "page": {
              "type": "integer"
            },
            "limit": {
              "type": "integer"
            },
            "total": {
              "type": "integer"
            },
            "totalPages": {
              "type": "integer"
            }
          }
        },
        "GlobalStats": {
          "type": "object",
          "properties": {
            "totalStreamers": {
              "type": "number",
              "description": "Total number of registered streamers",
              "example": 472246
            },
            "liveStreamers": {
              "type": "number",
              "description": "Number of currently live streamers",
              "example": 186
            },
            "totalViewers": {
              "type": "number",
              "description": "Total number of current viewers across all streams",
              "example": 2077
            },
            "avgSessionDuration": {
              "type": "number",
              "description": "Average session duration in seconds",
              "example": 7794.734428701286
            },
            "sessionsToday": {
              "type": "number",
              "description": "Number of sessions started today",
              "example": 1179
            },
            "totalStreamingTime": {
              "type": "number",
              "description": "Total streaming time across all streamers in seconds",
              "example": 4622435431.072786
            },
            "longestActiveSession": {
              "type": "number",
              "description": "Duration of longest currently active session in seconds",
              "example": 0
            }
          }
        },
        "TwitterProfile": {
          "type": "object",
          "properties": {
            "_id": {
              "type": "string",
              "description": "Database ID",
              "example": "68d2ec55d912a6fab4e609a2"
            },
            "mintId": {
              "type": "string",
              "description": "Token mint address",
              "example": "6bunJ76HV9SCDHkukezST3VKzQKJ8JtjTQQ92UD7pump"
            },
            "__v": {
              "type": "number",
              "description": "MongoDB version key",
              "example": 0
            },
            "automatedBy": {
              "type": "string",
              "nullable": true,
              "description": "Who automated this account",
              "example": null
            },
            "canDm": {
              "type": "boolean",
              "description": "Whether DMs are enabled",
              "example": true
            },
            "coverPicture": {
              "type": "string",
              "description": "Twitter cover/banner picture URL",
              "example": "https://pbs.twimg.com/profile_banners/1951638403813986304/1760002572"
            },
            "createdAt": {
              "type": "string",
              "format": "date-time",
              "description": "When record was created",
              "example": "2025-09-23T18:52:05.475Z"
            },
            "description": {
              "type": "string",
              "description": "Twitter bio description",
              "example": "WOИƎ⅄ MONEY | $WONEY\n\nThe Currency of Memes | Upside Down Money\n\n6bunJ76HV9SCDHkukezST3VKzQKJ8JtjTQQ92UD7pump"
            },
            "favouritesCount": {
              "type": "number",
              "description": "Number of liked tweets",
              "example": 5592
            },
            "followerThreshold": {
              "type": "number",
              "description": "Follower threshold for high follower status",
              "example": 500
            },
            "followers": {
              "type": "number",
              "description": "Number of followers",
              "example": 519
            },
            "following": {
              "type": "number",
              "description": "Number of accounts following",
              "example": 164
            },
            "hasCustomTimelines": {
              "type": "boolean",
              "description": "Whether account has custom timelines",
              "example": false
            },
            "highFollower": {
              "type": "boolean",
              "description": "Whether account meets high follower threshold",
              "example": true
            },
            "isAutomated": {
              "type": "boolean",
              "description": "Whether account is automated",
              "example": false
            },
            "isBlueVerified": {
              "type": "boolean",
              "description": "Whether account has blue verification",
              "example": true
            },
            "isTranslator": {
              "type": "boolean",
              "description": "Whether account is a translator",
              "example": false
            },
            "lastError": {
              "type": "string",
              "nullable": true,
              "description": "Last error encountered",
              "example": null
            },
            "lastFetched": {
              "type": "string",
              "format": "date-time",
              "description": "When Twitter data was last fetched",
              "example": "2025-10-29T11:57:04.497Z"
            },
            "location": {
              "type": "string",
              "description": "Account location",
              "example": "https://t.me/woneymoney"
            },
            "mediaCount": {
              "type": "number",
              "description": "Number of media posts",
              "example": 336
            },
            "name": {
              "type": "string",
              "description": "Twitter display name",
              "example": "WoneyCoin"
            },
            "pinnedTweetIds": {
              "type": "array",
              "description": "Array of pinned tweet IDs",
              "items": {
                "type": "string"
              },
              "example": ["1977878814857273764"]
            },
            "possiblySensitive": {
              "type": "boolean",
              "description": "Whether content may be sensitive",
              "example": false
            },
            "profileBio": {
              "type": "object",
              "description": "Profile bio with entities",
              "properties": {
                "entities": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "object",
                      "properties": {
                        "urls": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "url": {
                      "type": "object",
                      "properties": {
                        "urls": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "profilePicture": {
              "type": "string",
              "description": "Twitter profile picture URL",
              "example": "https://pbs.twimg.com/profile_images/1951658832561643520/8kJ_1wZZ_normal.jpg"
            },
            "statusesCount": {
              "type": "number",
              "description": "Number of tweets/statuses",
              "example": 1926
            },
            "streamerData": {
              "type": "object",
              "description": "Associated streamer/token data",
              "properties": {
                "coinName": {
                  "type": "string",
                  "description": "Token coin name",
                  "example": "Woney"
                },
                "coinSymbol": {
                  "type": "string",
                  "description": "Token coin symbol",
                  "example": "WONEY"
                },
                "tokenImage": {
                  "type": "string",
                  "description": "Token image URL",
                  "example": "https://ipfs.io/ipfs/bafkreie6pmoptxptz3lvrgcrpws43rkqmc2hw3fl3day67gguauflbg2yy"
                },
                "tokenMarketCap": {
                  "type": "object",
                  "description": "Token market cap",
                  "properties": {
                    "usd": {
                      "type": "number",
                      "description": "Market cap in USD",
                      "example": 21823.110688158842
                    },
                    "quote": {
                      "type": "number",
                      "description": "Market cap in quote currency (SOL)",
                      "example": 124.05133406183973
                    }
                  }
                },
                "totalStreamingTime": {
                  "type": "number",
                  "description": "Total streaming time in seconds",
                  "example": 4381197.672609157
                },
                "isCurrentlyLive": {
                  "type": "boolean",
                  "description": "Whether the streamer is currently live",
                  "example": true
                }
              }
            },
            "twitterId": {
              "type": "string",
              "description": "Twitter user ID",
              "example": "1951638403813986304"
            },
            "twitterUrl": {
              "type": "string",
              "description": "Twitter profile URL",
              "example": "https://t.co/BgRxa3y6ij"
            },
            "twitterUsername": {
              "type": "string",
              "description": "Twitter username",
              "example": "woneycoin"
            },
            "twitterAge": {
              "type": "string",
              "description": "Twitter account age as formatted string",
              "example": "40d ago"
            },
            "unavailable": {
              "type": "boolean",
              "description": "Whether account is unavailable",
              "example": false
            },
            "updatedAt": {
              "type": "string",
              "format": "date-time",
              "description": "When record was last updated",
              "example": "2025-10-29T11:57:04.497Z"
            },
            "verifiedType": {
              "type": "string",
              "nullable": true,
              "description": "Type of verification",
              "example": null
            },
            "withheldInCountries": {
              "type": "array",
              "description": "Countries where content is withheld",
              "items": {
                "type": "string"
              },
              "example": []
            }
          }
        },
        "TrendingToken": {
          "type": "object",
          "properties": {
            "rank": {
              "type": "number",
              "description": "Rank in trending list",
              "example": 1
            },
            "mintId": {
              "type": "string",
              "description": "Token mint address",
              "example": "CnqAQXJB7vSiwdNvgSf22JSPPa53orxSfXn6L2D6pump"
            },
            "name": {
              "type": "string",
              "description": "Token name",
              "example": "PlaiPin"
            },
            "symbol": {
              "type": "string",
              "description": "Token symbol",
              "example": "PlaiPin"
            },
            "description": {
              "type": "string",
              "description": "Token description (can be empty)",
              "example": ""
            },
            "image_uri": {
              "type": "string",
              "description": "Token image URI",
              "example": "https://metadata.rapidlaunch.io/images/b906ceaa-b077-46a2-89f1-1e200f6a3f39.png"
            },
            "website": {
              "type": "string",
              "nullable": true,
              "description": "Website URL (can be null)",
              "example": "https://www.plaipin.com/"
            },
            "twitter": {
              "type": "string",
              "nullable": true,
              "description": "Twitter URL (can be null)",
              "example": "https://x.com/KingChillxyz/status/1985237068050481548"
            },
            "telegram": {
              "type": "string",
              "nullable": true,
              "description": "Telegram URL (can be empty or null)",
              "example": ""
            },
            "creator": {
              "type": "string",
              "description": "Creator address",
              "example": "5b6B5vYDR1nvFRHDFPhDgmEtn7dmvf8xCc7vzMa6gczB"
            },
            "created_timestamp": {
              "type": "number",
              "description": "Token creation timestamp",
              "example": 1762152395320
            },
            "market_cap": {
              "type": "number",
              "description": "Market cap in quote currency (SOL)",
              "example": 5138.7681015322
            },
            "usd_market_cap": {
              "type": "number",
              "description": "Market cap in USD",
              "example": 904012.0844215445
            },
            "is_currently_live": {
              "type": "boolean",
              "description": "Whether the streamer is currently live",
              "example": false
            },
            "num_participants": {
              "type": "number",
              "description": "Number of participants",
              "example": 0
            },
            "complete": {
              "type": "boolean",
              "description": "Whether token data is complete",
              "example": true
            },
            "reply_count": {
              "type": "number",
              "description": "Number of replies",
              "example": 109
            },
            "last_reply": {
              "type": "number",
              "description": "Last reply timestamp",
              "example": 1762173611000
            },
            "king_of_the_hill_timestamp": {
              "type": "number",
              "description": "King of the hill timestamp",
              "example": 1762152573000
            },
            "trending_description": {
              "type": "string",
              "description": "Description of why it's trending",
              "example": "PlaiPin Launches Following Creator's Y Combinator Hackathon Success"
            },
            "market_cap_formatted": {
              "type": "string",
              "description": "Formatted market cap string",
              "example": "$904.0K"
            },
            "participants_formatted": {
              "type": "string",
              "description": "Formatted participants count",
              "example": "0"
            }
          }
        },
        "BottingAnalysis": {
          "type": "object",
          "properties": {
            "confidence": {
              "type": "number",
              "description": "Confidence score (0-100)",
              "example": 30
            },
            "score": {
              "type": "number",
              "description": "Botting score (0-100)",
              "example": 30
            },
            "confidenceLevel": {
              "type": "string",
              "enum": ["very_low", "low", "medium", "high", "very_high", "VERY_LOW", "LOW", "MEDIUM", "HIGH", "VERY_HIGH"],
              "description": "Confidence level",
              "example": "low"
            },
            "reasons": {
              "type": "array",
              "description": "List of reasons for the botting analysis",
              "items": {
                "type": "string"
              },
              "example": ["Suspicious timing patterns detected (137 occurrences)", "Statistical anomaly detected (z-score > 3, 5 occurrences)"]
            },
            "patterns": {
              "type": "object",
              "description": "Detected patterns in the data",
              "properties": {
                "anomalies": {
                  "type": "object",
                  "description": "Anomaly patterns detected"
                },
                "growth": {
                  "type": "object",
                  "description": "Growth patterns detected"
                },
                "marketCap": {
                  "type": "object",
                  "description": "Market cap correlation patterns"
                },
                "peaks": {
                  "type": "object",
                  "description": "Peak activity patterns"
                },
                "realityCheck": {
                  "type": "object",
                  "description": "Reality check patterns"
                },
                "temporal": {
                  "type": "object",
                  "description": "Temporal patterns detected"
                }
              }
            },
            "recommendations": {
              "type": "array",
              "description": "Recommendations based on the analysis",
              "items": {
                "type": "string"
              },
              "example": ["No significant botting patterns detected."]
            }
          }
        }
      }
    },
    "paths": {
      "/health": {
        "get": {
          "operationId": "healthCheck",
          "summary": "Health check endpoint",
          "tags": ["Health and Monitoring"],
          "responses": {
            "200": {
              "description": "Service is healthy",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean"
                      },
                      "status": {
                        "type": "string",
                        "example": "healthy"
                      },
                      "uptime": {
                        "type": "number",
                        "description": "Server uptime in seconds"
                      },
                      "timestamp": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/analytics/financial": {
        "get": {
          "operationId": "getFinancialAnalytics",
          "summary": "Get financial analytics data",
          "description": "Retrieve comprehensive financial analytics including token age, viewers, market cap distribution, and market data",
          "tags": ["Analytics"],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Financial analytics including token age, viewers, market cap distribution, and market data",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "avgTokenAge": {
                            "type": "number",
                            "description": "Average token age in hours",
                            "example": 44
                          },
                          "currentViewers": {
                            "type": "number",
                            "description": "Current total viewers across all streams",
                            "example": 2011
                          },
                          "liveTokensCount": {
                            "type": "number",
                            "description": "Number of currently live tokens",
                            "example": 185
                          },
                          "marketCapDistribution": {
                            "type": "object",
                            "description": "Distribution of tokens by market cap ranges",
                            "additionalProperties": {
                              "type": "number"
                            },
                            "example": {
                              "0-10k": 104,
                              "10k-100k": 52,
                              "100k-1m": 25,
                              "1m-10m": 4,
                              "10m+": 0
                            }
                          },
                          "maxTokenAge": {
                            "type": "number",
                            "description": "Maximum token age in hours",
                            "example": 622.6449562730005
                          },
                          "minTokenAge": {
                            "type": "number",
                            "description": "Minimum token age in hours",
                            "example": 2.9528314002560534
                          },
                          "peakConcurrentViewers": {
                            "type": "number",
                            "description": "Peak concurrent viewers",
                            "example": 2011
                          },
                          "peakViewersTime": {
                            "type": "string",
                            "description": "Time when peak viewers occurred",
                            "example": "12:35"
                          },
                          "streamersWithMarketCapData": {
                            "type": "number",
                            "description": "Number of streamers with market cap data available",
                            "example": 185
                          },
                          "totalMarketCap": {
                            "type": "number",
                            "description": "Total market cap across all tokens",
                            "example": 14853689.906940976
                          }
                        }
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the data was generated",
                            "example": "2025-11-03T12:36:37.888Z"
                          },
                          "cached": {
                            "type": "boolean",
                            "description": "Whether the response was served from cache",
                            "example": false
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Missing or invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  },
                  "example": {
                    "success": false,
                    "error": "Invalid API key",
                    "code": 401
                  }
                }
              }
            },
            "500": {
              "description": "Server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/analytics/engagement": {
        "get": {
          "operationId": "getEngagementAnalytics",
          "summary": "Get engagement analytics data",
          "description": "Retrieve user engagement and interaction analytics including bubble charts, donut charts, engagement trends, growth metrics, and session metrics",
          "tags": ["Analytics"],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "User engagement and interaction analytics",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "bubbleChart": {
                            "type": "object",
                            "description": "Bubble chart data for visualization",
                            "properties": {
                              "bubbles": {
                                "type": "array",
                                "description": "Array of bubble data points",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "ratio": {
                                      "type": "number",
                                      "description": "Ratio value for the bubble",
                                      "example": 5.251698108480219
                                    },
                                    "size": {
                                      "type": "number",
                                      "description": "Size of the bubble",
                                      "example": 25
                                    },
                                    "streamer": {
                                      "type": "object",
                                      "properties": {
                                        "coinName": {
                                          "type": "string",
                                          "example": "BELGIUM BAG WORK"
                                        },
                                        "coinSymbol": {
                                          "type": "string",
                                          "example": "BELGIUM"
                                        },
                                        "isCurrentlyLive": {
                                          "type": "boolean",
                                          "example": false
                                        },
                                        "mintId": {
                                          "type": "string",
                                          "example": "GKvEL3D77239eZRSTRdM1oKfpd3tFgoyGySNNWroqNSq"
                                        },
                                        "tokenMarketCap": {
                                          "type": "object",
                                          "properties": {
                                            "quote": {
                                              "type": "number",
                                              "example": 0
                                            },
                                            "usd": {
                                              "type": "number",
                                              "example": 3337.8559472792494
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "x": {
                                      "type": "number",
                                      "description": "X coordinate",
                                      "example": 3.5234675897872982
                                    },
                                    "y": {
                                      "type": "number",
                                      "description": "Y coordinate",
                                      "example": 17.529411764705884
                                    }
                                  }
                                }
                              },
                              "maxX": {
                                "type": "number",
                                "description": "Maximum X value",
                                "example": 3.591903795995662
                              },
                              "maxY": {
                                "type": "number",
                                "description": "Maximum Y value",
                                "example": 23.75
                              },
                              "minX": {
                                "type": "number",
                                "description": "Minimum X value",
                                "example": 3.5234675897872982
                              }
                            }
                          },
                          "donutChart": {
                            "type": "object",
                            "description": "Donut chart data showing session modes",
                            "properties": {
                              "modes": {
                                "type": "array",
                                "description": "Array of session mode data",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "count": {
                                      "type": "number",
                                      "description": "Number of sessions",
                                      "example": 494874
                                    },
                                    "mode": {
                                      "type": "string",
                                      "description": "Session mode type",
                                      "example": "interactive"
                                    },
                                    "percentage": {
                                      "type": "string",
                                      "description": "Percentage as string",
                                      "example": "83.5"
                                    }
                                  }
                                }
                              },
                              "totalSessions": {
                                "type": "number",
                                "description": "Total number of sessions",
                                "example": 592365
                              }
                            }
                          },
                          "engagementTrends": {
                            "type": "object",
                            "description": "Engagement trends over time",
                            "properties": {
                              "engagementData": {
                                "type": "array",
                                "description": "Array of engagement percentage values",
                                "items": {
                                  "type": "number"
                                },
                                "example": [80.83, 87.35, 86.13]
                              },
                              "growthData": {
                                "type": "array",
                                "description": "Array of growth percentage values",
                                "items": {
                                  "type": "number"
                                },
                                "example": [0, 16.01, 7.16]
                              },
                              "timestamps": {
                                "type": "array",
                                "description": "Array of ISO 8601 timestamps",
                                "items": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "example": ["2025-10-27T12:55:03Z", "2025-10-27T13:55:03Z"]
                              }
                            }
                          },
                          "growthMetrics": {
                            "type": "object",
                            "description": "Growth metrics summary",
                            "properties": {
                              "avgGrowth": {
                                "type": "number",
                                "description": "Average growth percentage",
                                "example": -65.4
                              },
                              "bestGrowth": {
                                "type": "number",
                                "description": "Best growth percentage",
                                "example": -78.5
                              },
                              "growthRate": {
                                "type": "number",
                                "description": "Overall growth rate percentage",
                                "example": -65.4
                              },
                              "sessionsWithGrowth": {
                                "type": "number",
                                "description": "Number of sessions with growth",
                                "example": 13315
                              }
                            }
                          },
                          "sessionMetrics": {
                            "type": "object",
                            "description": "Session metrics summary",
                            "properties": {
                              "avgSessionDuration": {
                                "type": "number",
                                "description": "Average session duration in seconds",
                                "example": 2052
                              },
                              "engagementScore": {
                                "type": "number",
                                "description": "Overall engagement score",
                                "example": 95
                              }
                            }
                          }
                        }
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the data was generated",
                            "example": "2025-11-03T12:37:00.622Z"
                          },
                          "cached": {
                            "type": "boolean",
                            "description": "Whether the response was served from cache",
                            "example": false
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Missing or invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/analytics/overview": {
        "get": {
          "summary": "Get analytics overview data",
          "description": "Retrieve comprehensive analytics overview including global stats and live metrics",
          "tags": ["Analytics"],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Analytics overview including global stats and live metrics",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "globalStats": {
                            "type": "object",
                            "description": "Global platform statistics",
                            "properties": {
                              "liveStreamers": {
                                "type": "number",
                                "description": "Number of currently live streamers",
                                "example": 186
                              },
                              "sessionsToday": {
                                "type": "number",
                                "description": "Number of sessions started today",
                                "example": 1179
                              },
                              "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the stats were calculated",
                                "example": "2025-11-03T12:37:52Z"
                              },
                              "totalStreamers": {
                                "type": "number",
                                "description": "Total number of registered streamers",
                                "example": 472243
                              },
                              "totalStreamingTime": {
                                "type": "number",
                                "description": "Total streaming time across all streamers in seconds",
                                "example": 4622435431.072786
                              },
                              "totalViewers": {
                                "type": "number",
                                "description": "Total number of current viewers across all streams",
                                "example": 2077
                              }
                            }
                          },
                          "liveMetrics": {
                            "type": "object",
                            "description": "Live metrics data",
                            "properties": {
                              "activeSessions": {
                                "type": "number",
                                "description": "Number of currently active sessions",
                                "example": 185
                              },
                              "avgSessionDuration": {
                                "type": "number",
                                "description": "Average session duration in seconds",
                                "example": 7794.734428701286
                              },
                              "sessionsToday": {
                                "type": "number",
                                "description": "Number of sessions started today",
                                "example": 1179
                              },
                              "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the live metrics were calculated",
                                "example": "2025-11-03T12:37:52Z"
                              },
                              "totalViewers": {
                                "type": "number",
                                "description": "Total number of current viewers",
                                "example": 2077
                              }
                            }
                          }
                        }
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the data was generated",
                            "example": "2025-11-03T12:38:01.479Z"
                          },
                          "cached": {
                            "type": "boolean",
                            "description": "Whether the response was served from cache",
                            "example": false
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Missing or invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  },
                  "example": {
                    "success": false,
                    "error": "Invalid API key",
                    "code": 401
                  }
                }
              }
            },
            "500": {
              "description": "Server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/analytics/heatmap": {
        "get": {
          "summary": "Get analytics heatmap data",
          "description": "Retrieve heatmap data including consistency data, daily hourly activity, and monthly calendar activity",
          "tags": ["Analytics"],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Analytics heatmap data",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "consistency": {
                            "type": "object",
                            "description": "Consistency heatmap data",
                            "properties": {
                              "consistencyData": {
                                "type": "object",
                                "description": "Consistency data by date",
                                "additionalProperties": {
                                  "type": "number"
                                },
                                "example": {
                                  "2025-10-06": 1.1843264323245202,
                                  "2025-10-07": 2.2115099442695954,
                                  "2025-10-08": 2.1289545790561686
                                }
                              }
                            }
                          },
                          "daily": {
                            "type": "object",
                            "description": "Daily hourly activity heatmap data",
                            "properties": {
                              "hourlyActivity": {
                                "type": "object",
                                "description": "Activity counts by day-hour combination (format: day-hour)",
                                "additionalProperties": {
                                  "type": "number"
                                },
                                "example": {
                                  "0-0": 120,
                                  "0-1": 132,
                                  "0-2": 143
                                }
                              },
                              "maxActivity": {
                                "type": "number",
                                "description": "Maximum activity value",
                                "example": 1552
                              }
                            }
                          },
                          "monthly": {
                            "type": "object",
                            "description": "Monthly calendar activity heatmap data",
                            "properties": {
                              "calendar": {
                                "type": "object",
                                "description": "Calendar metadata",
                                "properties": {
                                  "daysInMonth": {
                                    "type": "number",
                                    "description": "Number of days in the month",
                                    "example": 30
                                  },
                                  "month": {
                                    "type": "number",
                                    "description": "Month number (0-11)",
                                    "example": 10
                                  },
                                  "startDayOfWeek": {
                                    "type": "number",
                                    "description": "Day of week the month starts on (0-6)",
                                    "example": 6
                                  },
                                  "year": {
                                    "type": "number",
                                    "description": "Year",
                                    "example": 2025
                                  }
                                }
                              },
                              "dailyActivity": {
                                "type": "object",
                                "description": "Daily activity counts by date",
                                "additionalProperties": {
                                  "type": "number"
                                },
                                "example": {
                                  "2025-09-06": 1,
                                  "2025-09-09": 1,
                                  "2025-09-10": 1
                                }
                              },
                              "maxActivity": {
                                "type": "number",
                                "description": "Maximum activity value",
                                "example": 28532
                              }
                            }
                          }
                        }
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the data was generated",
                            "example": "2025-11-03T12:20:33.536Z"
                          },
                          "cached": {
                            "type": "boolean",
                            "description": "Whether the response was served from cache",
                            "example": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Missing or invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/botting/{mintId}": {
        "get": {
          "summary": "Analyze token for view botting patterns",
          "description": "Analyzes a specific token's viewer data to detect potential view botting using advanced pattern recognition",
          "tags": ["Botting Detection"],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "in": "path",
              "name": "mintId",
              "required": true,
              "schema": {
                "type": "string",
                "minLength": 32,
                "maxLength": 44
              },
              "description": "Token mint ID to analyze",
              "example": "AxSMXaM3KeQ3a6HDfGizJaRnzGqrDHJg3uyZbwZUpump"
            },
            {
              "in": "query",
              "name": "hours",
              "required": false,
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 168,
                "default": 24
              },
              "description": "Hours of data to analyze (1-168)",
              "example": 24
            }
          ],
          "responses": {
            "200": {
              "description": "Botting analysis results",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "mintId": {
                            "type": "string",
                            "description": "Token mint ID that was analyzed",
                            "example": "6bunJ76HV9SCDHkukezST3VKzQKJ8JtjTQQ92UD7pump"
                          },
                          "analysis": {
                            "$ref": "#/components/schemas/BottingAnalysis"
                          },
                          "processingTime": {
                            "type": "number",
                            "description": "Processing time in milliseconds",
                            "example": 10
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the analysis was performed",
                            "example": "2025-11-03T12:39:41.230130936Z"
                          }
                        }
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the data was generated",
                            "example": "2025-11-03T12:39:41.234Z"
                          },
                          "cached": {
                            "type": "boolean",
                            "description": "Whether the response was served from cache",
                            "example": false
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "success": true,
                    "data": {
                      "mintId": "6bunJ76HV9SCDHkukezST3VKzQKJ8JtjTQQ92UD7pump",
                      "analysis": {
                        "confidence": 30,
                        "score": 30,
                        "confidenceLevel": "low",
                        "reasons": [
                          "Suspicious timing patterns detected (137 occurrences)",
                          "Statistical anomaly detected (z-score > 3, 5 occurrences)"
                        ],
                        "patterns": {
                          "anomalies": {},
                          "growth": {},
                          "marketCap": {},
                          "peaks": {},
                          "realityCheck": {},
                          "temporal": {}
                        },
                        "recommendations": [
                          "No significant botting patterns detected."
                        ]
                      },
                      "processingTime": 10,
                      "timestamp": "2025-11-03T12:39:41.230130936Z"
                    },
                    "meta": {
                      "timestamp": "2025-11-03T12:39:41.234Z",
                      "cached": false
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad request - invalid parameters",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Missing or invalid API key"
            },
            "404": {
              "description": "Token not found or no data available"
            },
            "500": {
              "description": "Internal server error"
            }
          }
        }
      },
      "/botting/stats": {
        "get": {
          "summary": "Get botting detection service statistics",
          "description": "Returns comprehensive statistics about the botting detection service performance and usage",
          "tags": ["Botting Detection"],
          "x-mint": {
            "hidden": true
          },
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Service statistics",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "analysesPerformed": {
                            "type": "number",
                            "description": "Total number of analyses performed",
                            "example": 1250
                          },
                          "bottingDetected": {
                            "type": "number",
                            "description": "Number of tokens flagged for botting",
                            "example": 125
                          },
                          "detectionRate": {
                            "type": "string",
                            "description": "Percentage of tokens flagged",
                            "example": "10.0%"
                          },
                          "lastAnalysis": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of last analysis",
                            "example": "2024-01-15T10:25:00.000Z"
                          },
                          "averageProcessingTime": {
                            "type": "number",
                            "description": "Average analysis processing time in milliseconds",
                            "example": 1250
                          },
                          "confidenceDistribution": {
                            "type": "object",
                            "description": "Distribution of confidence levels",
                            "properties": {
                              "veryLow": {
                                "type": "number",
                                "example": 500
                              },
                              "low": {
                                "type": "number",
                                "example": 300
                              },
                              "medium": {
                                "type": "number",
                                "example": 250
                              },
                              "high": {
                                "type": "number",
                                "example": 150
                              },
                              "veryHigh": {
                                "type": "number",
                                "example": 50
                              }
                            }
                          },
                          "serviceUptime": {
                            "type": "number",
                            "description": "Service uptime percentage",
                            "example": 99.9
                          }
                        }
                      },
                      "timestamp": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-01-15T10:30:00.000Z"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Missing or invalid API key"
            },
            "500": {
              "description": "Internal server error"
            }
          }
        }
      },
      "/botting/bulk": {
        "post": {
          "summary": "Analyze multiple tokens for view botting patterns",
          "description": "Performs bulk analysis on up to 50 tokens to detect view botting patterns efficiently",
          "tags": ["Botting Detection"],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "mintIds"
                  ],
                  "properties": {
                    "mintIds": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "minLength": 32,
                        "maxLength": 44
                      },
                      "minItems": 1,
                      "maxItems": 50,
                      "description": "Array of token mint IDs to analyze",
                      "example": [
                        "AxSMXaM3KeQ3a6HDfGizJaRnzGqrDHJg3uyZbwZUpump",
                        "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                      ]
                    },
                    "hours": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 168,
                      "default": 24,
                      "description": "Hours of data to analyze (1-168)",
                      "example": 24
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Bulk botting analysis results",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "results": {
                            "type": "array",
                            "description": "Analysis results for each token",
                            "items": {
                              "type": "object",
                              "properties": {
                                "mintId": {
                                  "type": "string"
                                },
                                "confidence": {
                                  "type": "number"
                                },
                                "confidenceLevel": {
                                  "type": "string",
                                  "enum": [
                                    "VERY_LOW",
                                    "LOW",
                                    "MEDIUM",
                                    "HIGH",
                                    "VERY_HIGH"
                                  ]
                                },
                                "score": {
                                  "type": "number"
                                },
                                "reasons": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "errors": {
                            "type": "array",
                            "description": "Errors encountered during analysis",
                            "items": {
                              "type": "string"
                            }
                          },
                          "summary": {
                            "type": "object",
                            "properties": {
                              "totalRequested": {
                                "type": "number"
                              },
                              "successful": {
                                "type": "number"
                              },
                              "failed": {
                                "type": "number"
                              },
                              "processingTime": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad request - invalid parameters"
            },
            "401": {
              "description": "Missing or invalid API key"
            },
            "500": {
              "description": "Internal server error"
            }
          }
        }
      },
      "/pyro/value-scores": {
        "get": {
          "summary": "Get Pyro value scores",
          "description": "Retrieve value scores for tokens including consistency, engagement, attention per dollar, viewer score, and total value score",
          "tags": ["Pyro"],
          "responses": {
            "200": {
              "description": "Successfully retrieved value scores",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "mintId": {
                              "type": "string",
                              "description": "Token mint ID",
                              "example": "FMun4qvmiB71DkbaEEKBzobqho5PorPFVz38yErEpump"
                            },
                            "tokenName": {
                              "type": "string",
                              "description": "Token name",
                              "example": "JimmyJam"
                            },
                            "tokenSymbol": {
                              "type": "string",
                              "description": "Token symbol",
                              "example": "JAM"
                            },
                            "sponsorCostUSD": {
                              "type": "number",
                              "description": "Sponsor cost in USD",
                              "example": 1.06
                            },
                            "streamUrl": {
                              "type": "string",
                              "format": "uri",
                              "description": "Stream URL",
                              "example": "https://pump.fun/coin/FMun4qvmiB71DkbaEEKBzobqho5PorPFVz38yErEpump"
                            },
                            "consistencyScore": {
                              "type": "number",
                              "description": "Consistency score",
                              "example": 0.56
                            },
                            "engagementScore": {
                              "type": "number",
                              "description": "Engagement score",
                              "example": 0
                            },
                            "attentionPerDollar": {
                              "type": "number",
                              "description": "Attention per dollar",
                              "example": 10
                            },
                            "viewerScore": {
                              "type": "number",
                              "description": "Viewer score",
                              "example": 5.17
                            },
                            "totalValueScore": {
                              "type": "number",
                              "description": "Total value score",
                              "example": 6.12
                            }
                          }
                        }
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the data was generated",
                            "example": "2025-11-10T02:04:18.996Z"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "429": {
              "description": "Rate limit exceeded - 1 request per second per IP"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/stats/global": {
        "get": {
          "summary": "Get global platform statistics",
          "description": "Retrieve comprehensive global platform statistics including total streamers, live count, and viewer metrics",
          "tags": ["Statistics"],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "Global platform statistics",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "$ref": "#/components/schemas/GlobalStats"
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the data was generated",
                            "example": "2025-11-03T12:43:29.244Z"
                          },
                          "cached": {
                            "type": "boolean",
                            "description": "Whether the response was served from cache",
                            "example": false
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Missing or invalid API key"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/stats/historical": {
        "get": {
          "summary": "Get historical metrics data",
          "tags": ["Statistics"],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "in": "query",
              "name": "hours",
              "schema": {
                "type": "integer",
                "default": 24
              },
              "description": "Number of hours to look back for metrics"
            },
            {
              "in": "query",
              "name": "limit",
              "schema": {
                "type": "integer",
                "default": 100,
                "maximum": 1000
              },
              "description": "Maximum number of metrics snapshots to return"
            }
          ],
          "responses": {
            "200": {
              "description": "Historical metrics data",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "array",
                        "description": "Array of historical metric snapshots",
                        "items": {
                          "type": "object",
                          "properties": {
                            "avgSessionDuration": {
                              "type": "number",
                              "description": "Average session duration in seconds",
                              "example": 7794.734428701286
                            },
                            "currentActiveTime": {
                              "type": "number",
                              "description": "Total active time across all current sessions in seconds",
                              "example": 0
                            },
                            "liveStreamers": {
                              "type": "number",
                              "description": "Number of currently live streamers",
                              "example": 186
                            },
                            "longestActiveSession": {
                              "type": "number",
                              "description": "Duration of longest currently active session in seconds",
                              "example": 0
                            },
                            "sessionsToday": {
                              "type": "number",
                              "description": "Number of sessions started today",
                              "example": 1179
                            },
                            "timestamp": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Timestamp for this metric snapshot",
                              "example": "2025-11-03T12:37:52.838Z"
                            },
                            "totalStreamingTime": {
                              "type": "number",
                              "description": "Total streaming time across all streamers in seconds",
                              "example": 4622435431.072786
                            },
                            "totalViewers": {
                              "type": "number",
                              "description": "Total number of current viewers",
                              "example": 2077
                            }
                          }
                        }
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the data was generated",
                            "example": "2025-11-03T12:43:42.586Z"
                          },
                          "count": {
                            "type": "number",
                            "description": "Number of data points returned",
                            "example": 100
                          },
                          "endTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End time of the data range",
                            "example": "2025-11-03T12:43:42.583125488Z"
                          },
                          "hours": {
                            "type": "number",
                            "description": "Number of hours covered",
                            "example": 24
                          },
                          "preAggregated": {
                            "type": "boolean",
                            "description": "Whether the data was pre-aggregated",
                            "example": false
                          },
                          "sampling": {
                            "type": "string",
                            "description": "Sampling interval",
                            "example": "5min"
                          },
                          "startTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Start time of the data range",
                            "example": "2025-11-02T12:43:42.580884152Z"
                          },
                          "cached": {
                            "type": "boolean",
                            "description": "Whether the response was served from cache",
                            "example": false
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Missing or invalid API key"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/stats/creator-fees/{tokenAddress}": {
        "get": {
          "summary": "Get creator fees for a specific token",
          "description": "Get creator fees for a specific token by looking up creator address automatically via Solana Tracker",
          "tags": ["Statistics"],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "in": "path",
              "name": "tokenAddress",
              "required": true,
              "schema": {
                "type": "string",
                "minLength": 32,
                "maxLength": 44
              },
              "description": "Token mint address (will lookup creator address via Solana Tracker)",
              "example": "AxSMXaM3KeQ3a6HDfGizJaRnzGqrDHJg3uyZbwZUpump"
            }
          ],
          "responses": {
            "200": {
              "description": "Creator fees information",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "tokenAddress": {
                            "type": "string",
                            "description": "Token mint address",
                            "example": "6bunJ76HV9SCDHkukezST3VKzQKJ8JtjTQQ92UD7pump"
                          },
                          "creatorAddress": {
                            "type": "string",
                            "description": "Creator address that receives fees",
                            "example": "AZo5FiGuwmhEo5cdHmxWKhXkWqS4JNVV53WZXxYL4MmE"
                          },
                          "totalFees": {
                            "type": "number",
                            "description": "Total fees collected",
                            "example": 33.880374099
                          },
                          "totalFeesFormatted": {
                            "type": "string",
                            "description": "Total fees formatted as string",
                            "example": "33.8804 SOL"
                          },
                          "fees24h": {
                            "type": "number",
                            "description": "Fees collected in the last 24 hours",
                            "example": 0
                          },
                          "fees24hFormatted": {
                            "type": "string",
                            "description": "Fees in last 24 hours formatted as string",
                            "example": "0.0000 SOL"
                          },
                          "fees7d": {
                            "type": "number",
                            "description": "Fees collected in the last 7 days",
                            "example": 0
                          },
                          "fees7dFormatted": {
                            "type": "string",
                            "description": "Fees in last 7 days formatted as string",
                            "example": "0.0000 SOL"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency unit",
                            "example": "SOL"
                          },
                          "interval": {
                            "type": "string",
                            "description": "Time interval for the fees data",
                            "example": "total"
                          }
                        }
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the data was generated",
                            "example": "2025-11-03T12:43:57.277Z"
                          },
                          "cached": {
                            "type": "boolean",
                            "description": "Whether the response was served from cache",
                            "example": false
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Invalid token address"
            },
            "404": {
              "description": "Token not found or no creator fees data available"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/stats/creator-fees/bulk": {
        "post": {
          "summary": "Get creator fees for multiple tokens",
          "description": "Get creator fees for multiple tokens in a single request for efficient bulk processing",
          "tags": ["Statistics"],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tokenAddresses"
                  ],
                  "properties": {
                    "tokenAddresses": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "minLength": 32,
                        "maxLength": 44
                      },
                      "minItems": 1,
                      "maxItems": 100,
                      "description": "Array of token mint addresses",
                      "example": [
                        "AxSMXaM3KeQ3a6HDfGizJaRnzGqrDHJg3uyZbwZUpump",
                        "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                      ]
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Bulk creator fees information",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "description": "Object mapping token addresses to their creator fees data",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "tokenAddress": {
                              "type": "string",
                              "description": "Token mint address",
                              "example": "AxSMXaM3KeQ3a6HDfGizJaRnzGqrDHJg3uyZbwZUpump"
                            },
                            "creatorAddress": {
                              "type": "string",
                              "description": "Creator address that receives fees",
                              "example": "HaMwkRnBv9N2VqTyow2yhn53Q4fTj3WQ3paiNCq9jun6"
                            },
                            "totalFees": {
                              "type": "number",
                              "description": "Total fees collected",
                              "example": 4.960676504
                            },
                            "totalFeesFormatted": {
                              "type": "string",
                              "description": "Total fees formatted as string",
                              "example": "4.9607 SOL"
                            },
                            "fees24h": {
                              "type": "number",
                              "description": "Fees collected in the last 24 hours",
                              "example": 0
                            },
                            "fees24hFormatted": {
                              "type": "string",
                              "description": "Fees in last 24 hours formatted as string",
                              "example": "0.0000 SOL"
                            },
                            "fees7d": {
                              "type": "number",
                              "description": "Fees collected in the last 7 days",
                              "example": 0
                            },
                            "fees7dFormatted": {
                              "type": "string",
                              "description": "Fees in last 7 days formatted as string",
                              "example": "0.0000 SOL"
                            },
                            "currency": {
                              "type": "string",
                              "description": "Currency unit",
                              "example": "SOL"
                            },
                            "interval": {
                              "type": "string",
                              "description": "Time interval for the fees data",
                              "example": "total"
                            }
                          }
                        }
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the data was generated",
                            "example": "2025-11-03T12:44:48.243Z"
                          },
                          "processed": {
                            "type": "number",
                            "description": "Number of tokens successfully processed",
                            "example": 2
                          },
                          "total": {
                            "type": "number",
                            "description": "Total number of tokens requested",
                            "example": 2
                          },
                          "uniqueCreators": {
                            "type": "number",
                            "description": "Number of unique creator addresses found",
                            "example": 2
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Invalid request parameters"
            },
            "401": {
              "description": "Missing or invalid API key"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/streamers": {
        "get": {
          "summary": "Get streamers with flexible sorting options",
          "description": "Retrieve streamers with flexible sorting options including viewers, time, market cap, and fees",
          "tags": ["Streamers"],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "in": "query",
              "name": "sortBy",
              "schema": {
                "type": "string",
                "enum": [
                  "viewers",
                  "time",
                  "marketCap",
                  "fees"
                ],
                "default": "viewers"
              },
              "description": "Field to sort by"
            },
            {
              "in": "query",
              "name": "sortOrder",
              "schema": {
                "type": "string",
                "enum": [
                  "asc",
                  "desc"
                ],
                "default": "desc"
              },
              "description": "Sort order"
            },
            {
              "in": "query",
              "name": "limit",
              "schema": {
                "type": "integer",
                "default": 100,
                "maximum": 1000,
                "minimum": 1
              },
              "description": "Number of streamers to return"
            },
            {
              "in": "query",
              "name": "page",
              "schema": {
                "type": "integer",
                "default": 1,
                "minimum": 1
              },
              "description": "Page number for pagination"
            }
          ],
          "responses": {
            "200": {
              "description": "List of streamers with requested sorting",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "array",
                        "description": "Array of streamer objects",
                        "items": {
                          "$ref": "#/components/schemas/StreamerDetailed"
                        }
                      },
                      "meta": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the data was generated",
                            "example": "2025-11-03T12:45:46.243Z"
                          },
                          "pagination": {
                            "type": "object",
                            "properties": {
                              "limit": {
                                "type": "number",
                                "description": "Number of items per page",
                                "example": 5
                              },
                              "page": {
                                "type": "number",
                                "description": "Current page number",
                                "example": 1
                              },
                              "sortBy": {
                                "type": "string",
[...]
